# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# env files
.env
.env.production
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Temp
page-output.html
astro-output.log